/* COMPONENTES */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* TIPORGRAFIA */
/* COLORES */
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  border: 0;
  padding: 0;
}

/* BODY */
body {
  background-color: #2B2B2B;
}

/* HOME */
#inicio {
  margin-top: 50px;
}

.titleHome {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
}

.subtitleHome {
  color: #fff;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #fff;
}

.imgHome {
  height: 400px;
}

/* SECTION NOSOTROS */
#nosotros {
  font-family: "Signika", sans-serif;
  background-color: #2B2B2B;
  color: #fff;
  margin-top: 140px;
}

.titulosNosotros {
  font-size: 32px;
}

.titulosTextoNosotros {
  font-size: 20px;
}

.subtituloNosotros {
  margin: 20px 0px;
  width: 100rem;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.parrafosNosotros {
  font-size: 14px;
  width: 300px;
}

/* NUESTRAS MARCAS */
#marcas {
  background-color: #2B2B2B;
  color: #fff;
  margin-top: 8em;
}

.containerMarcasImagenes {
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.marcasImagenes {
  width: 200px;
  height: 200px;
}

/* KITS STANDAR */
#kits_estandar {
  background-color: #fff;
  padding: 40px 0 150px 0;
}

#kits_estandar .kit_estandar_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
  margin: 80px 0;
  padding: 0 10%;
}

#kits_estandar .kit_estandar_component img {
  height: 230px;
}

#kits_estandar .kit_estandar_component .text h2 {
  font-size: 20px;
}

#kits_estandar .kit_estandar_component .text .tituloKitsEstandar {
  font-size: 32px;
}

#kits_estandar .kit_estandar_component .text h3 {
  font-size: 12px;
}

#kits_estandar .kit_estandar_component_left {
  background-color: #2B2B2B;
  border-radius: 0 20px 20px 0;
}

#kits_estandar .kit_estandar_component_left img {
  margin-right: 30px;
}

#kits_estandar .kit_estandar_component_rigth {
  background-color: #CD2329;
  margin: 0 0 0 auto;
  border-radius: 20px 0 0 20px;
}

#kits_estandar .kit_estandar_component_rigth img {
  margin-left: 30px;
}

#kits_estandar .kit_estandar_component_rigth .text h2 {
  text-align: end;
}

#kits_estandar .kit_estandar_component_rigth .text h3 {
  text-align: end;
}

#productos {
  background-color: #fff;
  padding-bottom: 120px;
}

#productos .tituloproductos {
  margin-bottom: 35px;
}

#productos .contenedor-kits {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

#productos .contenedor-kits .fila {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#productos .contenedor-kits .fila .kit {
  width: 85%;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

#productos .contenedor-kits .fila .kit img {
  width: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

#productos .contenedor-kits .fila .kit .kit-titulo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#productos .contenedor-kits .fila .kit .kit-titulo h2 {
  font-size: 0.7em;
}

#productos .contenedor-kits .fila .kit:hover .kit-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#productos .contenedor-kits .fila .kit:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#productos .contenedor-kits .fila1 .kit1 {
  margin-bottom: 30px;
}

/* PREGUNTAS FRECUENTES */
#preguntasFrecuentes {
  background-color: #735742;
  color: #fff;
  padding: 80px;
}

.tituloPreguntas {
  font-family: "Signika", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: center;
  margin: 20px;
}

.parrafoPreguntas {
  width: 450px;
}

.preguntas {
  font-size: 14px;
  text-align: start;
}

.respuestaDePreguntas {
  font-size: 12px;
  text-align: start;
}

/* FOOTER */
#footerIndex {
  background-color: #2B2B2B;
  color: #fff;
  width: 100%;
  height: auto;
}

#footerIndex .contenidoFooter .row {
  width: 100%;
}

.linksFooter {
  text-decoration: none;
  color: #fff;
  margin: 0px 10px;
}

.contenidoFooter {
  color: #fff;
  display: inline;
}

.sitioFooter {
  font-size: 16px;
}

/* HEADER */
#header {
  font-family: "Signika", sans-serif;
  height: 100px;
  width: 100%;
}

.itemsHeader {
  color: #fff;
  font-size: 16px;
  margin: 0px 10px;
}

.logoImg {
  height: 90px;
  width: 200px;
}

a {
  text-decoration: none;
  color: #fff;
}

.dropdown-menu {
  background-color: #fff;
  color: #2B2B2B;
}

.itemsHeader:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f84043), to(#FFA500));
  background-image: linear-gradient(to top, #f84043 0%, #FFA500 100%);
  color: #fff;
}

a:hover {
  color: #fff;
}

/* BOTON WHATSAPP */
.iconosDeRedesSociales {
  position: fixed;
  right: 1.5%;
  top: 90%;
}

.fixed__icon {
  width: 40px;
  height: 40px;
}

/* TIPORGRAFIA */
/* COLORES */
.presentacionImagenMarca {
  margin-top: 40px;
}

.presentacionMarca {
  color: #fff;
  font-size: 16px;
  margin-top: 30px;
}

.marcaMagmaPresentacion {
  width: 250px;
  height: 200px;
}

.marcaPresentacion {
  width: 250px;
  height: 250px;
}

.descripcionMarca {
  color: #fff;
  margin-top: 10px;
  font-size: 13px;
  width: 700px;
}

.filtraciones {
  font-size: 10px;
  color: #fff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tipo_filtraciones {
  background-color: #2B2B2B;
  font-size: 13px;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* CARD */
.card {
  background-color: #2B2B2B;
  border: none;
  width: 320px;
}

.card:hover {
  border-bottom: 2px #fff solid;
}

.imgCardMarca {
  width: 320px;
  height: 250px;
}

.titleCardMarca {
  margin: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.modeloCardMarca {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.textoCardMarca {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

/* RELACIONADOS */
.containerImgRelacionados {
  background-color: #2B2B2B !important;
}

.productosRelacionados {
  background-color: #fff;
  border: none;
}

.titleRelacionados {
  color: #2B2B2B;
  font-size: "Signika", sans-serif;
  font-weight: 700;
  font-size: 28px;
}

.cardRelacionados {
  background-color: #fff;
}

.imgCardRelacionados {
  width: 350px;
  height: 200px;
}

.modeloRelacionados {
  color: #2B2B2B;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.modeloRelacionadosKit {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

/* HEADER KIT OBRA*/
#headerKit {
  background-color: #fff;
  font-family: "Signika", sans-serif;
  height: 60px;
  width: 100%;
}

.itemsHeaderKit {
  color: #2B2B2B !important;
  font-size: 16px;
  margin: 0px 15px;
}

.linkHeaderKit {
  color: #2B2B2B;
}

.logoImgKit {
  height: 60px;
  width: 130px;
}

.redesHeaderKit {
  text-decoration: none;
}

.itemsHeaderKit:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f84043), to(#FFA500));
  background-image: linear-gradient(to top, #f84043 0%, #FFA500 100%);
  color: #fff;
}

a:hover {
  color: #fff;
}

.presentacionKitObra {
  color: #fff;
  background-color: #CD2329;
}

.fotosKitObra {
  width: 350px;
  height: 250px;
}

.linkPdf {
  text-decoration: none;
  color: #fff;
}

.videoKitObra {
  height: 450px;
  width: 700px;
}

.infKitObra {
  background-color: #fff;
}

.listaKitObraInf {
  list-style: none;
}

.productosRelacionadosInf {
  background-color: #2B2B2B;
}

.productosRelacionadosInf .titleRelacionadosInf {
  color: #fff;
}

.text-list {
  margin-right: 10px;
}

.itemInf {
  margin: 0px 10px;
}

.titleForm {
  font-family: "Signika", sans-serif;
  font-weight: 700;
}

.subtitleForm {
  font-family: "Signika", sans-serif;
}

.textForm {
  font-size: 14px;
}

.form-control {
  width: 37rem;
}

.btnForm {
  background-color: orangered;
  border: none;
}

/* CONTACTO */
#contacto {
  color: #fff;
  background-color: #2B2B2B;
  font-family: "Signika", sans-serif;
}

#contacto img {
  width: 100%;
}

.tituloContacto {
  font-size: 32px;
}

.subtituloContacto {
  font-size: 16px;
  width: 700px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.tituloFormulario {
  font-family: "Signika", sans-serif;
  font-size: 25px;
  margin-top: 10px;
}

.formControl {
  font-family: "Signika", sans-serif;
  margin-bottom: 5px;
  width: 500px !important;
}

.botonContacto {
  background-color: orangered;
  border: #2B2B2B;
  color: #fff;
  border-radius: 5px;
}

.logoContacto {
  width: 7em !important;
  height: 4em;
}

.informacionContacto {
  background-color: #fff;
  font-family: "Signika", sans-serif;
  color: #2B2B2B;
  border-radius: 5px;
  width: 23em;
  padding: 30px 10px;
}

.imgUbicacion {
  max-width: 100vw;
  height: auto;
}

.titleDeProductos {
  color: #fff;
  font-size: 32px;
}

.tipo_filtracionesProductos {
  background-color: #2B2B2B;
  font-size: 12px;
  margin: 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* TIPORGRAFIA */
/* COLORES */
.bodyInfoDetallada {
  background-color: #fff;
}

#detalleDelProducto {
  background-color: #fff;
  margin-top: 50px;
}

.titleDetalle {
  font-size: 32px;
  font-family: "Signika", sans-serif;
}

.detalleImg {
  height: 300px;
  width: 400px;
}

.linkPdfDetalle {
  color: #2B2B2B;
}

.linkPdfDetalle:hover {
  color: #2B2B2B;
}

/* formulario */
.form-controlDetalle {
  width: 32rem !important;
}

.textFormDetalle {
  font-size: 12px;
}

.text-listDetalle {
  margin-right: 5px;
  margin-top: 4px;
  font-size: 18px;
}

.itemInfDetalle {
  margin: 0px 15px;
  height: 10px;
  width: 20px;
}

/* BASE */
/* TIPORGRAFIA */
/* COLORES */
/*# sourceMappingURL=index.css.map */