@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


/* TIPORGRAFIA */
$SIGNIKA: 'Signika', sans-serif;
$ROBOTO: 'Roboto', sans-serif;


/* COLORES */
$PRINCIPAL: #2B2B2B;
$PRIMARIO: linear-gradient(to top,#f84043 0%,  #FFA500 100%);
$SECUNDARIO: #CD2329;
$TERCIARIO:#fff;
$MARRON: #735742;