/* HEADER */
#header{
    font-family: $SIGNIKA;
    height: 100px;
    width: 100%; 
}

.itemsHeader{
    color: $TERCIARIO;
    font-size: 16px;
    padding:  10px;
}
.headerHover:hover{
    background-image: linear-gradient(to top,#f84043 0%,  #FFA500 100%);
    color: $TERCIARIO;
}
.nav-link{
    color: $TERCIARIO;
}
.nav-link:hover{
    color: $TERCIARIO;
}
.logoImg{
    height: 90px;
   width: 200px;
}
a{
    text-decoration: none;
    color: $TERCIARIO;
}
a:hover{
    color: $TERCIARIO;
}
.dropdown-menu{
    background-color: $TERCIARIO;
    color: $PRINCIPAL;
}



