.titleDeProductos{
color: $TERCIARIO;
font-size: 32px;
}

.tipo_filtracionesProductos{
    background-color: $PRINCIPAL;
    font-size: 12px;
    margin: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}